@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');
*{
  font-family: 'Grandstander', cursive;
}
html{
  background: white;
}
.App {
  text-align: center;
  /* background-image: url("safe.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

#home-page {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  font-size: 90%;
}
input{
/* White Background */
width: 40%;
height: 1.5rem;
background: #FFFFFF;
border-radius: 4px;
}
button{
/* Inactive Grey */
width: 30%;
height: 1.5rem;
margin: 1rem;
background: #EFEFEF;
border-radius: 4px;
color: #2E2C48;
}
button:hover{
  border-color: skyblue;
}
input:focus{
  outline: none;
  border-color: skyblue;
}
.link:hover{
  cursor: pointer;
  color:#4B0082;
}
/* .form-wrapper{
  background-image: url("safe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */
form{
  margin: 0 auto;
  margin-top: 1rem;
  width: 50%;
  height: 50rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  background-image: url("safe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.link{
  text-decoration: none;
  padding: 2rem;
  font-size: 200%;
  color: black;
  font-weight: bold;
}
label{
  align-items: flex-start;
}

