@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
  /* font-family: 'Grandstander', cursive; */
  font-family: 'Roboto Mono', monospace;
}
html{
  background: white;
}
.App {
  text-align: center;
  font-size: 62.5%;
}
.error-message{
  color: red;
}
img{
  width: 100%;
}
nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#home-page-header {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  font-size: 100%;
  background-color: #FA8072;
}
input, select, textarea{
width: 40%;
height: 1.5rem;
background: #FFFFFF;
border-radius: 4px;
}
.home-page-button{
margin-top: 2rem;
margin-bottom: 2rem;
cursor: pointer;
padding: 1rem;
font-size: 150%;
background: #C716C4;
border-radius: 4px;
color: white;
text-decoration: none;
}
.form-button{
width: 50%;
height: 1.5rem;
margin: 1rem;
background: #EFEFEF;
border-radius: 4px;
color: #2E2C48;
cursor: pointer;
font-size: 100%;
font-weight: bold;
}
.form-button:hover{
  border-color: skyblue;
}
.form-button:disabled{
  
    background-image: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
  
}
input:focus{
  outline: none;
  border-color: skyblue;
}
select:focus{
  outline: none;
  border-color: skyblue;
}
textarea:focus{
  outline: none;
  border-color: skyblue;
}
span{
  color: #E9153E;
  font-weight: bold;
}
.link:hover{
  cursor: pointer;
  color:#FFF5EE;
}
form{
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  /* box-shadow: 3px 3px 5px 6px; */
  box-shadow: 0 8px 6px -6px black;
}
#ticket-form{
  box-shadow: none;
}
#registration-p-tag, #ticket-form-pTag{
  font-size: initial;
}
.link{
  text-decoration: none;
  padding: 2rem;
  font-size: 200%;
  color: black;
  font-weight: bold;
}
.form-links{
  text-decoration: none;
  color: black;
}
.form-links:hover{
  cursor: pointer;
  color: #C71585;
  font-size: 150%;
}
/* label{
  align-self: center;
} */
.image-container{
  position: relative;
  text-align: center;
  color: black;
}
.center-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media(max-width: 400px){
  input, button{
    width: 70%;
  }
  .form-button{
    width: 50%;
  }
  /* nav{
    width: 30%;
  } */
  #home-page-header{
    flex-direction: column;
    font-size: 80%;
  }
  .center-text{
    font-size: 70%;
  }
}

.student-card{
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #cf7171, 0 0 2px rgba(199, 78, 78, 0.12),
    0 2px 4px rgba(194, 72, 72, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 80%;
  display: inline-block;
   font-size: 0.8rem;
   text-align: left;
   
}
.ticket-discription {
  padding: 4px 0;
}
.tried{
  padding: 4px 0;
  
}
.more-info{
  padding: 5px 0;
  
}
.tic-button{
  margin: 1em;
  padding: .5em .75em;
}